<!-- <script>
	import '@picocss/pico';
	import '../app.css';

	import { page } from '$app/stores';

	// console.log($page.data.user);
</script> -->

<script>
	import { enhance } from '$app/forms';

	/** @type {import('./$types').ActionData} */
	export let form;
</script>

<!-- {#if $page.data.user}
	Welcome {$page.data.user}
{/if} -->

<form method="post" use:enhance>
	<label for="username">Username</label>
	<input type="text" name="username" id="username" value={form?.data?.user ?? ''} />
	<label for="password">Password</label>
	<input type="password" name="password" id="password" />
	<button type="submit">Log in</button>
</form>

<style>
	form {
		margin-top: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	input,
	button {
		width: 30%;
		/* add this to align text within each item */
		text-align: center;
	}

	/* center text in labels too */
	label {
		text-align: left;
		width: 30%;
		display: block;
	}
</style>
